/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: rgb(26, 172, 131);
  --error: rgb(231, 25, 90);
}
body {
  background: rgb(241, 241, 241);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: rgb(255, 255, 255);
}
header a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
